---
import { Image } from "astro:assets";
import LogoBlack from "../assets/images/logo-black.svg";
---

<section class="border-b border-black/5 bg-white">
    <div class="mx-auto w-full max-w-7xl px-8 md:px-12 lg:px-16">
        <nav
            x-data="{ open: false }"
            class="relative mx-auto flex w-full flex-col bg-white py-5 md:flex-row md:items-center md:justify-between md:px-6">
            <a
                href="/"
                class="flex flex-row items-center justify-between lg:justify-start">
                <Image
                    src={LogoBlack}
                    alt="Logo of waaklabs"
                    loading="eager"
                    width={50}
                    height={50}
                />
            </a>
            <div
                :class="{'flex': open, 'hidden': !open}"
                class="hidden flex-col items-center md:flex md:flex-row md:pb-0">
                <a
                    class="hover:text-accent-400 px-2 py-2 text-sm font-medium text-black md:px-3 lg:px-6"
                    href="/#pricing">
                    Projects
                </a>
                <a
                    class="hover:text-accent-400 px-2 py-2 text-sm font-medium text-black md:px-3 lg:px-6"
                    href="/#pricing">
                    Services
                </a>

                <a
                    class="hover:text-accent-400 px-2 py-2 text-sm font-medium text-black md:px-3 lg:px-6"
                    href="/#pricing">
                    Pricing
                </a>
                <a
                    class="hover:text-accent-400 px-2 py-2 text-sm font-medium text-black md:px-3 lg:px-6"
                    href="/faq">
                    FAQ
                </a>
            </div>

            <div class="hidden list-none items-center gap-2 lg:inline-flex">
                <a
                    href="#"
                    class="active:text-accent-400 group inline-flex h-8 items-center justify-center rounded-lg bg-black px-4 py-2 text-sm font-medium text-white transition-transform hover:border hover:border-black hover:bg-white hover:text-black focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:scale-95">
                    Lets Talk 👋
                </a>
            </div>
        </nav>
    </div>
</section>
