---
const heading = "Our Story: Crafting Digital Excellence for 7 Years";
const subheading =
    "Empowering Visionaries, Building Dreams, and Bridging the Technical Gap";
---

<section id="approach">
    <div
        class="mx-auto mt-12 w-full max-w-7xl scroll-mt-24 items-center px-8 py-12 md:px-12 lg:px-24">
        <div class="mx-auto max-w-7xl text-2xl lg:text-center">
            <p>
                With a legacy spanning over 7 years, Waaklabs is your trusted
                partner in the world of digital innovation. Our extensive
                experience includes crafting mobile apps, web apps, dedicated
                backends, and more, both for discerning clients and as the
                driving force behind our standout projects, including the
                acclaimed Tempbox. But we're not just developers; we're creators
                of meaningful digital experiences.
            </p>
            <p class="mt-10">
                At Waaklabs, our mission is to transform your visionary ideas
                into tangible realities. Whether you're a non-technical founder
                or an industry expert, we're here to navigate the complexities
                of technology on your behalf.
            </p>
        </div>
    </div>
</section>
