---
import ChatNavbar from "../components/ChatNavbar.astro";
import Schema from "../components/schema.astro";
import SEO from "../components/seo.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="theme-color" content="#FFFFFF" />
        <SEO />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.13.1/dist/cdn.min.js"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.13.1/dist/cdn.min.js"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.1/dist/cdn.min.js"
        ></script>
        <link
            href="https://assets.calendly.com/assets/external/widget.css"
            rel="stylesheet"
        />
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-T8CRE0X4Y2"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-T8CRE0X4Y2");
        </script>
        <!-- Microsoft clarity: begin -->
        <meta name="msvalidate.01" content="CCD6C206EF0549FD4DE309F6E8957BF4" />
        <script type="text/javascript">
            (function (c, l, a, r, i, t, y) {
                c[a] =
                    c[a] ||
                    function () {
                        (c[a].q = c[a].q || []).push(arguments);
                    };
                t = l.createElement(r);
                t.async = 1;
                t.src = "https://www.clarity.ms/tag/" + i;
                y = l.getElementsByTagName(r)[0];
                y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "j98vbhwdsx");
        </script>
        <!-- Microsoft clarity: end -->
        <Schema />
    </head>
    <body
        x-data=`{
            openChatWidget() {
                drift.api.openChat();
            },
            openCalendlyPopup() {
                Calendly.initPopupWidget({url: 'https://calendly.com/waak/meeting-with-waseem?hide_landing_page_details=1&hide_gdpr_banner=1'});return false;
            }
        }`
        class="bg-white p-6 lg:p-20">
        <ChatNavbar />
        <slot />
        <script async src="/js/fslightbox.js"></script>
        <!-- Start of Async Drift Code -->
        <script async>
            "use strict";

            !(function () {
                var t = (window.driftt = window.drift = window.driftt || []);
                if (!t.init) {
                    if (t.invoked)
                        return void (
                            window.console &&
                            console.error &&
                            console.error("Drift snippet included twice.")
                        );
                    (t.invoked = !0),
                        (t.methods = [
                            "identify",
                            "config",
                            "track",
                            "reset",
                            "debug",
                            "show",
                            "ping",
                            "page",
                            "hide",
                            "off",
                            "on",
                        ]),
                        (t.factory = function (e) {
                            return function () {
                                var n = Array.prototype.slice.call(arguments);
                                return n.unshift(e), t.push(n), t;
                            };
                        }),
                        t.methods.forEach(function (e) {
                            t[e] = t.factory(e);
                        }),
                        (t.load = function (t) {
                            var e = 3e5,
                                n = Math.ceil(new Date() / e) * e,
                                o = document.createElement("script");
                            (o.type = "text/javascript"),
                                (o.async = !0),
                                (o.crossorigin = "anonymous"),
                                (o.src =
                                    "https://js.driftt.com/include/" +
                                    n +
                                    "/" +
                                    t +
                                    ".js");
                            var i = document.getElementsByTagName("script")[0];
                            i.parentNode.insertBefore(o, i);
                        });
                }
            })();
            drift.SNIPPET_VERSION = "0.3.1";
            drift.load("b6fxhaaiytif");
        </script>
        <!-- End of Async Drift Code -->

        <!-- Calendly link widget begin -->
        <script
            src="https://assets.calendly.com/assets/external/widget.js"
            type="text/javascript"
            async></script>

        <!-- Calendly link widget end -->
    </body><style is:global></style>
</html>
